#app{
    // regola per header con scroll > 0
    header.active{
        background-color: $color3;
        box-shadow: rgb(0 0 0 / 12%) 0 1px 3px;
    }
    // regole header e figli
    header{
        height: 111px;
        width: 100%;
        padding: 35px 10px 40px 20px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 900;
        @include display-flex-row(center, space-between);

        ul{
            list-style: none;

            li{
                display: inline-block;
                margin-right: 50px;
                position: relative;

                a{
                    @include text-font(12px, $font2, 1px, $color1);
                    text-decoration: none;
                }
                div.underline{
                    width: 100%;
                    height: 2px;
                    border-radius: 2px;
                    background-color: $color1;
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    display: none;
                }
                div.underline.active{
                    display: block;
                }
            }
            li:hover div.underline{
                display: block;
            }
        }
    }
    // regole footer
    footer{
        @include centring;

        // regole prima sezione footer
        section.footer-section-first{
            margin-top: 50px;
            @include display-flex-row(center, space-between);

            div.link-list{
                width: 60%;
                height: 166px;
                @include display-flex-column(flex-start, space-around);
                
                ul{
                    // margin-top: 50px;
                    list-style: none;
                    li{
                        display: inline-block;
                        margin-right: 50px;
                        margin-top: 25px;
                        a{
                            @include text-font(16px, $font2, 0, $color1);
                            text-decoration: none;

                            i{
                                position: relative;
                            }
                            // numero 0 vicino al carrello nel footer 
                            i::after{
                                content: "0";
                                width: 5px;
                                height: 5px;
                                line-height: 5px;
                                background-color: $color4;
                                padding: 10px;
                                border-radius: 100%;
                                position: absolute;
                                top: 0;
                                left: 20px;
                            }
                        }
                    }
                    li:hover a{
                        text-decoration: underline;
                    }
                }
            }
            div.subscribe{
                width: 40%;
                height: 144px;
                @include display-flex-column(center, space-around);

                h3{
                    @include text-font(25px, $font1, -0.3px, $color1);
                }
                div{
                    input{
                        padding: 15px 80px 15px 20px;
                        border: 1px solid $color4;
                        border-radius: 3px;
                        margin-right: 5px;
                    }
                    button{
                        color: $color3;
                        background-color: $color1;
                        padding: 15px 50px;
                        border-radius: 5px;
                        cursor: pointer;
                        border: none;
                    }
                    button:hover{
                        background-color: $color4;
                        color: $color1;
                        text-decoration: none;
                    }
                }
            }
        }
        // regole seconda sezione footer
        section.footer-section-second{
            margin-top: 100px;
            margin-bottom: 90px;
            @include display-flex-row(center, space-between);

            div{
                span{
                    @include text-font(12px, $font2, 0, $color2);
                }
                span.violet:hover{
                    color: $color1;
                }
            }
            ul{
                list-style: none;

                li{
                    display: inline-block;
                    margin-right: 50px;
                    a{
                        @include text-font(16px, $font2, 0, $color1);
                        text-decoration: none;
                    }
                }
            }
        }
    }
}