#app{
    // regola per header con scroll > 0
    header.active{
        background-color: $color3;
        box-shadow: rgb(0 0 0 / 12%) 0 1px 3px;
    }
    // regole header e figli
    header{
        height: 111px;
        width: 100%;
        padding: 35px 10px 40px 20px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 900;
        @include display-flex-row(center, space-between);

        ul{
            list-style: none;

            li{
                display: inline-block;
                margin-right: 50px;
                color: $color1;
                font-family: $font2;
                font-size: 12px;
                letter-spacing: 1px;
            }
        }
    }
}