#app{
    // regole per il background i header e jumbotron a scroll = 0
    div.container-background-header-jumbo{
        min-height: 800px;
        background-image: url(img/hero-header-bakery.jpg);
        background-size: cover;
        background-position: center;
    }
    // regole jumbotron e figli
    #jumbotron{
        @include centring;
        padding-top: 270px;

        span{
            @include text-font(12px, $font2, 1px, $color2);
        }
        h1{
            width: 25%;
            @include text-font(56px, $font1, -1px, $color1);
            margin-top: 20px;
        }
        p{
            width: 36%;
            @include text-font(18px, $font2, 0, $color2);
            font-weight: 500;
            margin: 30px 0;
        }
        a{
            @include text-font(14px, $font2, 0, $color1);
            font-weight: bold;
            background-color: $color3;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
        }

        >*:hover{
            text-decoration: underline;
            &:last-child{
                background-color: $color1;
                color: $color3;
                text-decoration: none;
            }
        }
    }
    // regole main
    main{
        // regole prima sezione
        section.section-first{
            @include centring;
            @include display-flex-row(center, space-between);
            margin-top: 150px;
            
            // regole contenitore testo e figli
            div.content-text{
                width: 35%;

                span{
                    @include text-font(12px, $font2, 1px, $color2);
                }
                h2{
                    @include text-font(36px, $font1, -1px, $color1);
                    margin: 30px 0 75px 0;
                }
                a{
                    @include linkButton($color1, $color3);
                }
                a:hover{
                    @include linkButton($color4, $color1);
                }
            }
            // regole carousel sezione 1
            div.carousel{
                @include display-flex-row(center, center);

                div[class*="img-"]:first-child{
                    margin-right: 20px;
                }
                div[class*="img-"]{
                    position: relative;

                    i{
                        padding: 35px 13px;
                        color: $color3;
                        background-color: rgba($color: $color1, $alpha: 0.5);
                    }
                }
                div.img-1{

                    i{
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                    }
                }
                div.img-2{
                    i{
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                    }
                }
                // regole div testo nascosto
                div:hover div.hidden{
                    visibility: visible;
                }
                div.hidden{
                    width: 400px;
                    height: 510px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.4);
                    @include display-flex-column(center, center);
                    visibility: hidden;

                    >*{
                        color: $color3;
                    }
                    h3{
                        font-size: 24px;
                        font-family: $font1;
                        letter-spacing: -0.2px;
                    }
                    h3:hover{
                        text-decoration: underline;
                    }
                    div:first-of-type{
                        margin-top: 15px;
                        margin-bottom: 25px;

                        span{
                            font-size: 12px;
                            font-family: $font2;
                        }
                        span:hover{
                            text-decoration: underline;
                        }
                    }
                    div:last-of-type{
                        span{
                            font-family: $font2;
                        }
                        span.dollar, span.value{
                            font-size: 25px;
                        }
                        span.divisor{
                            font-size: 13px;
                        }
                        span.value{
                            margin-left: -7px;
                        }
                        span.divisor{
                            margin-left: -7px;
                        }
                        span.dollar:hover{
                            border-bottom: 1px dashed $color3;
                        }
                        span.underline:hover{
                            text-decoration: underline;
                        }
                    }
                    
                }
            }
        }
        // regole seconda sezione
        section.section-second{
            @include centring;
            margin-top: 250px;

            div.title{
                text-align: center;

                span{
                    @include text-font(12px, $font2, 1px, $color2);
                }
                h2{
                    @include text-font(36px, $font1, -1px, $color1);
                    margin-top: 35px;
                    margin-bottom: 75px;
                }
                >*:hover{
                    text-decoration: underline;
                }
            }
            // regole immagini in background normal e in hover
            div.image-promo{
                @include display-flex-row(center, space-around);

                div[class*="promo-"]{
                    width: 623px;
                    height: 756px;
                }
                div.text-hidden{
                        height: 100%;
                        @include display-flex-column(center, center);
                        visibility: hidden;

                        span{
                            @include text-font(12px, $font2, 1px, $color3);
                        }
                        h2{
                            @include text-font(36px, $font1, -1px, $color3);
                            margin: 40px 0;
                        }
                        a{
                            @include linkButton($color1, $color3);
                        }
                    }
                div.promo-1{
                    background-image: url(img/corporate-bg.jpg);
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                div.promo-2{
                    background-image: url(img/wedding-bg.jpg);
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                div.promo-1:hover{
                    background-image: url(img/corporate-hover-bg.jpg);

                    div.text-hidden{
                        visibility: visible;
                        
                        >*:hover{
                            text-decoration: underline;
                            &:last-child{
                                @include linkButton($color4, $color1);
                                text-decoration: none;
                            }
                        }
                    }
                }
                div.promo-2:hover{
                    background-image: url(img/wedding-hover-bg.jpg);

                    div.text-hidden{
                        visibility: visible;

                        >*:hover{
                            text-decoration: underline;
                            &:last-child{
                                @include linkButton($color4, $color1);
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
        // regole sezione 3
        section.section-third{
            @include centring;
            @include display-flex-row(center, space-between);
            margin-top: 250px;

            div.content-text{
                @include display-flex-column(center, center);
                text-align: center;
                width: 21.5%;

                h2{
                    width: 75%;
                    @include text-font(36px, $font1, -1px, $color1);
                }
                p{
                    width: 85%;
                    @include text-font(16px, $font2, 0, $color2);
                    margin: 40px 0;
                }
                a{
                    @include linkButton($color1, $color3);
                }
            }
        }
        // regole sezione 4
        section.section-fourth{
            @include centring;
            margin-top: 250px;

            div[class*="box-"]{
                position: relative;
            }

            div.layover{
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.2);
                padding: 70px;
            }

            img{
                max-width: 100%;
            }
            div.box-1{
                
                div.layover{
                    @include display-flex-row(flex-start, space-around);
                    height: 568px;

                    div.text-left{
                        width: 50%;

                        h2{
                            width: 60%;
                            @include text-font(56px, $font1, -1px, $color3);
                        }
                    }
                    div.text-right{
                        height: 100%;
                        width: 50%;
                        @include display-flex-column(flex-end, space-between);
                        
                        span{
                            @include text-font(96px, $font2, 0, $color3);
                            font-weight: lighter;
                        }
                        div{
                            width: 57%;
                            @include display-flex-column(flex-start, center);

                            span{
                                @include text-font(12px, $font2, 1px, $color3);
                            }
                            p{
                                @include text-font(18px, $font2, 0, $color3);
                                margin-top: 20px;
                                line-height: 30px;
                            }
                        }
                    }
                }
            }
            div.box-2{
                @include display-flex-row(center, space-between);
                margin-top: 60px;

                div.left, div.right{
                    width: 745px;
                    height: 885px;
                }

                div.left{
                    background-image: linear-gradient(200deg, rgba(35, 33, 37, 0.2) 0%, rgba(35, 33, 37, 0.7) 100%), url(img/bakery-process-2.jpg);
                    background-position: right center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: rgb(35, 33, 37);

                    div.layover{
                        width: 745px;
                        height: 885px;
                        @include display-flex-row(flex-start, space-between);

                        div.text-left{
                            height: 100%;
                            width: 48%;
                            @include display-flex-column(flex-start, space-between);

                            h2{
                                @include text-font(56px, $font1, -1px, $color3);
                            }
                            span{
                                @include text-font(12px, $font2, 1px, $color3);
                                font-weight: lighter;
                            }
                            p{
                                @include text-font(18px, $font2, 0, $color3);
                                line-height: 30px;
                                margin-top: 20px;
                            }
                        }
                        div.text-right{

                            span{
                                @include text-font(96px, $font2, 0, $color3);
                                font-weight: lighter;
                            }
                        }
                        
                    }
                }
                div.right{
                    background-color: $color4;
                    padding: 70px;


                    span{
                        @include text-font(12px, $font2, 1px, $color2);
                    }
                    h2{
                        width: 80%;
                        @include text-font(48px, $font1, -1px, $color1);
                        margin-top: 30px;
                        margin-bottom: 25px;
                    }
                    p{
                        @include text-font(18px, $font2, 0, $color2);
                    }
                }
            }
            div.box-3{
                height: 705px;
                margin-top: 60px;
                background-image: linear-gradient(200deg, rgba(35, 33, 37, 0) 10%, rgba(35, 33, 37, 0.8) 100%), url(img/bakery-process-3.jpg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: rgb(35, 33, 37);

                div.layover{
                        height: 705px;
                        @include display-flex-row(flex-start, space-between);

                        div.text-left{
                            height: 100%;
                            width: 48%;
                            @include display-flex-column(flex-start, space-between);

                            h2{
                                @include text-font(56px, $font1, -1px, $color3);
                            }
                            span{
                                @include text-font(12px, $font2, 1px, $color3);
                                font-weight: lighter;
                            }
                            p{
                                width: 60%;
                                @include text-font(18px, $font2, 0, $color3);
                                line-height: 30px;
                                margin-top: 20px;
                            }
                        }
                        div.text-right{

                            span{
                                @include text-font(96px, $font2, 0, $color3);
                                font-weight: lighter;
                            }
                        }
                        
                    }
            }
        }
        // regole sezione 5 bakery locations
        section.section-fifth{
            @include centring;
            @include display-flex-row(center, center);
            margin-top: 250px;

            div.box-locations.lightblue{
                background-color: #f1f9fb;
            }
            div.box-locations.lightyellow{
                background-color: #faf3e2;
            }

            div.box-locations{

                // img:hover{
                //     transform: scale(1.1);
                // }
                
                h2{
                    @include text-font(36px, $font1, -1px, $color1);
                    text-align: center;
                    margin-top: 50px;
                    margin-bottom: 40px;
                }
                h2:hover{
                    text-decoration: underline;
                }
                div.info{
                    @include display-flex-row(center, space-around);
                    margin-bottom: 40px;

                    div{
                        p{
                            @include text-font(12px, $font2, 1px, $color2);
                            text-align: center;
                            margin-bottom: 15px;
                        }
                        span{
                            @include text-font(16px, $font2, 0, $color2);
                        }
                        >*:hover{
                        text-decoration: underline;
                    }
                    }
                    a{
                        @include linkButton($color3, $color1);
                        text-decoration: none;
                    }
                    a:hover{
                        @include linkButton($color1, $color3);
                        text-decoration: underline;
                    }
                    
                }
            }
        }
        // regole sezione 6 immagini social IG
        section.section-sixth{
            @include centring;
            margin-top: 250px;

            div.container-up-photo{
                @include display-flex-row(center, space-between);

                div[class*="card-"]{
                    height: 368px;
                }
                div.card-1{
                    width: 25%;
                    background-image: url(img/social-1.jpg);
                    background-position: left top;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                div.card-2{
                    @include display-flex-column(center, center);
                    width: 46.6%;
                    margin: 0 1%;
                    background-color: $color4;

                    span{
                        @include text-font(12px, $font2, 1px, $color2);
                    }
                    h2{
                        @include text-font(36px, $font1, -1px, $color1);
                        margin: 30px 0;
                    }
                    a{
                        @include linkButton($color1, $color3);

                        i{
                            color: $color3;
                            font-size: 14px;
                            padding-right: 10px;
                        }
                    }
                    >*:hover{
                        text-decoration: underline;
                        &:last-child{
                            @include linkButton($color3, $color1);
                            text-decoration: underline;
                            i{
                                color: $color1;
                            }
                        }
                    }
                }
                div.card-3{
                    width: 25%;
                    background-image: url(img/social-2.jpg);
                    background-position: left top;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
            div.container-down-photo{
                @include display-flex-row(center, space-between);
                margin-top: 35px;

                div[class*="card-"]{
                    height: 380px;
                }
                div.card-1{
                    width: 25%;
                    background-image: url(img/social-3.jpg);
                    background-position: left top;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                div.card-2{
                    width: 22.5%;
                    background-image: url(img/social-4.jpg);
                    background-position: left top;
                    background-repeat: no-repeat;
                    background-size: cover;
                    // margin: 0 2.5%;
                }
                div.card-3{
                    width: 22.5%;
                    background-image: url(img/social-5.jpg);
                    background-position: left top;
                    background-repeat: no-repeat;
                    background-size: cover;
                    // margin: 0 2.5%;
                }
                div.card-4{
                    width: 25%;
                    background-image: url(img/social-6.jpg);
                    background-position: left top;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
        // sezione sette immagine background title e link
        section.section-seventh{
            height: 530px;
            margin-top: 200px;
            background-image: url(img/call-to-action-bg.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            border-width: 0px 0px 0px 0px;
            border-color: #ececed;
            border-style: solid;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            @include display-flex-row(center, flex-start);

            div.content-text{
                @include centring;
                padding-left: 10%;

                span{
                    @include text-font(12px, $font2, 1px, $color3);
                }
                h1{
                    width: 50%;
                    @include text-font(48px, $font1, -1px, $color3);
                    margin-top: 30px;
                    margin-bottom: 70px;
                }
                a{
                    @include linkButton($color3, $color1);
                    text-decoration: none;
                }

                >*:hover{
                    text-decoration: underline;
                    &:last-child{
                        background-color: $color1;
                        color: $color3;
                        text-decoration: underline;
                    }
                }
            }
        }
        // fine main
    }
}