$font1: 'Source Serif Pro', serif;
$font2: 'Work Sans', sans-serif;

$color1: #55328b;
$color2: #676361;
$color3: #ffff;
$color4: #f0edf5;

@mixin display-flex-row($var1, $var2) {
    display: flex;
    align-items: $var1;
    justify-content: $var2;
}

@mixin display-flex-column($var1, $var2) {
    display: flex;
    flex-direction: column;
    align-items: $var1;
    justify-content: $var2;
}

@mixin centring {
    width: 80%;
    margin: 0 auto;
}

@mixin linkButton($bg, $cl) {
    background-color: $bg;
    color: $cl;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    font-family: $font2;
}

@mixin text-font($size, $family, $letspacing, $color) {
    font-size: $size;
    font-family: $family;
    letter-spacing: $letspacing;
    color: $color;
}

